body {
  display: flex;
  flex-direction: column;
  margin: 0;
}

header,
.top,
.footer {
  background-color: #1f2937;
  color: #f9faf8;
}

/* css for header and top */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
}

nav {
  display: flex;
  gap: 15px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

li {
  list-style-type: none;
}

a,
.intro p {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
  width: 500px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px 60px 60px 60px;
}

.placeholder {
  width: 400px;
  height: 180px;
  background-color: #8a8c8f;
}

h1 {
  font-size: 48px;
  font-weight: bolder;
  margin-bottom: 0;
}

button {
  background-color: #3882f6;
  color: white;
  padding: 5px 20px;
  border-radius: 9px;
}

/* css for top middle */

.topmid h2 {
  font-size: 36px;
}

.illustration {
  border: 2px solid #3882f6;
  border-radius: 5px;
  width: 70px;
  height: 70px;
}

.botmid {
  background-color: #e5e7eb;
  color: #1f2937;
}

.quote {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
}

.bot {
  background-color: #3882f6;
  color: #f9faf8;
}

.bot button {
  border-color: white;
}
